table{
  border-collapse:collapse;
  border:1px solid black;
}

table td, table th{
  border:1px solid black;
  padding: 5px;
}

.worst {
  background-color: red;
}

.best {
  background-color: lightgreen;
}

.ui-autocomplete-term { 
  font-weight: bold; color: blue; 
}